{% extends 'base.html' %}
{% block title %}search results{% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<div class="container">
    <h1>search results:</h1>
    {% if allposts|length < 1 %}
    <p> no search results </p>
    <h1>your search query:-{{query}}did not match</h1>
    {% endif %}
    {% for post in allposts %}
    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">World</strong>
        <h3 class="mb-0">{{post.title}}</h3>
        <div class="mb-1 text-muted">Nov 12</div>
        <p class="card-text mb-auto">{{post.content|truncatechars:100}}</p>
        <a href="/blog/{{Post.slug}}" class="stretched-link">Continue reading</a>
      </div>
      {% endfor %}
</div>
{% endblock body %}
